    p { font-family: Georgia;
       text-align: justify }
    h2 {background-color: #ffe5b4}
    body {margin-left: 10%; 
          margin-right: 10%;}
    #map {border-style: solid;
          padding: 10px;
          height: 400px;
          width: 250px; 
         background-color: #add8e6;}
    #map-img { height: 90%;
              width: 90%}
    #deer {float: right;}
    #deer-img {width: 100%;
               height: 30%;
               padding:5px;}
    tr, td {background-color: #ddd3dd;
           padding: 3px;}
    .class { color= #030201;}
